<h1>Listing translate_tasks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Source language</th>
      <th>Destination language</th>
      <th>Country</th>
      <th>Owner</th>
      <th>Translator</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @translate_tasks.each do |translate_task| %>
      <tr>
        <td><%= translate_task.name %></td>
        <td><%= translate_task.source_language %></td>
        <td><%= translate_task.destination_language %></td>
        <td><%= translate_task.country %></td>
        <td><%= translate_task.owner_id %></td>
        <td><%= translate_task.translator_id %></td>
        <td><%= link_to 'Show', translate_task %></td>
        <td><%= link_to 'Edit', edit_translate_task_path(translate_task) %></td>
        <td><%= link_to 'Destroy', translate_task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Translate task', new_translate_task_path %>
