<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @translate_task.name %>
</p>

<p>
  <strong>Source language:</strong>
  <%= @translate_task.source_language %>
</p>

<p>
  <strong>Destination language:</strong>
  <%= @translate_task.destination_language %>
</p>

<p>
  <strong>Country:</strong>
  <%= @translate_task.country %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @translate_task.owner_id %>
</p>

<p>
  <strong>Translator:</strong>
  <%= @translate_task.translator_id %>
</p>

<%= link_to 'Edit', edit_translate_task_path(@translate_task) %> |
<%= link_to 'Back', translate_tasks_path %>
